.main-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.main-section {
  background-color: var(--dark-background-color);
  background-image: url(../images/img-overlay.png), url(../images/main-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
}
.main-container__heading {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-heading-color);
}
.main-container__btn {
  padding: 10px 32px 10px 32px;
}
