.peculiarities-section {
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.peculiarities-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.peculiarities-list__item {
  content: '';
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc(100% / 2 - 15px);
    justify-content: start;
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    text-align: left;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.peculiarities-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-btn-color);
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}
.peculiarities-list__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 10px;
}
.peculiarities-list__ph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: left;
}
